    * {
        margin: 0;
        padding: 0;
    }
    /* box-sizing: border-box;
} */
    /* #don {
        margin-bottom: 1px;
    } */
    
    .col-md #spic {
        height: 50%;
        width: 50%;
    }
    
    .navbar-brand {
        letter-spacing: 10px;
    }
    
    #skills h2 {
        padding-top: 100px;
    }
    
    img {
        border: 1px 2px 5px;
        border-radius: 25%;
        box-shadow: 1px 2px 10px black;
    }
    
    img #aboutme {
        position: relative;
        left: 20rem;
    }
    
    @media(min-width:768px) {
        .hero {
            width: 50%;
        }
    }